
.app {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  margin-top: 65px; /* Adjust for navbar height */
}

.main-content {
  flex-grow: 1;
  margin-left: 280px; /* Same as sidebar width */
  padding: 16px;
  overflow-y: auto;
}



